<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="css/home.css" />

<body>
    <div class="group_name" style="position: relative">
        <ul class="nav justify-content-center">
            <li class="nav-item" style="cursor: pointer">
                <a class="nav-link active" href="./resto">Home</a>
            </li>

            <% if(!member) { %>
            <li class="nav-item" style="cursor: pointer">
                <a class="nav-link" href="/resto/sign-up">Signup</a>
            </li>
            <li class="nav-item" style="cursor: pointer">
                <a class="nav-link" href="/resto/login">Login</a>
            </li>
            <% } else if(member.mb_type === 'ADMIN') { %>
            <li class="nav-item" style="cursor: pointer">
                <a class="nav-link" href="/resto/all-stores">All Store</a>
            </li>
            <li
                class="nav-item"
                style="cursor: pointer"
                onclick="return confirm('Do you want to log out?')"
            >
                <a class="nav-link" href="/resto/logout">Logout</a>
            </li>
            <% } else { %>
            <li class="nav-item" style="cursor: pointer">
                <a class="nav-link" href="/resto/products/menu">MyStore</a>
            </li>
            <li
                class="nav-item"
                style="cursor: pointer"
                onclick="return confirm('Do you want to log out?')"
            >
                <a class="nav-link" href="/resto/logout">Logout</a>
            </li>

            <% } %>
        </ul>
    </div>

    <div>
        <div class="container">
            <div class="neonClock">
                <div class="center"></div>
                <div>
                    <div class="hour-hand"></div>
                    <div class="minute-hand"></div>
                    <div class="second-hand"></div>
                </div>
                <div>
                    <span class="hr3">3</span>
                    <span class="hr6">6</span>
                    <span class="hr9">9</span>
                    <span class="hr12">12</span>
                </div>
            </div>
        </div>
    </div>
    <script>
        function calcTime() {
            const d = new Date();

            let h = d.getHours(),
                m = d.getMinutes(),
                s = d.getSeconds(),
                hrDeg = h * 30 + m * (360 / 720),
                minDeg = m * 6 + s * (360 / 3600),
                secDeg = s * 6,
                hr = document.querySelector(".hour-hand"),
                min = document.querySelector(".minute-hand"),
                sec = document.querySelector(".second-hand");

            hr.style.transform = "rotate(" + hrDeg + "deg)";
            min.style.transform = "rotate(" + minDeg + "deg)";
            sec.style.transform = "rotate(" + secDeg + "deg)";
        }

        setInterval(calcTime, 100);
    </script>
</body>

<%- include('includes/footer') %>
