<%- include('includes/header') %>
<link rel="stylesheet" type="text/css" href="/css/login.css" />
<body>
    <form class="login_container" action="/resto/login" method="POST">
        <div class="login_frame">
            <div class="login_top">
                <span tabindex="0">Login to Page</span>
            </div>
            <div class="top">
                <p>Back to <a href="/resto">Home</a> Page</p>
                <p>Not yet signed up? <a href="/resto/sign-up">Sign up</a></p>
            </div>
            <div class="login_input_frame">
                <div class="login_input_container">
                    <label tabindex="0">Username: </label>
                    <input
                        type="text"
                        name="mb_nick"
                        placeholder="Enter Username "
                        value=""
                        required
                    />
                </div>
                <div class="login_input_container">
                    <label tabindex="0">Password:</label>
                    <input
                        type="password"
                        name="mb_password"
                        placeholder="Enter Password"
                        value=""
                        required
                    />
                </div>
            </div>
            <button class="login_btn" name="login" type="submit">Login</button>
        </div>
    </form>
</body>

<%- include('includes/footer') %>
