body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.section-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Login Container and Frame */
.login_container .login_frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(134, 171, 210, 0.1);
  width: 90%;
  max-width: 450px;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0 15px 40px rgba(0, 255, 255, 0.9);
  border: 3px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  z-index: 10;
}

.login_container .login_frame:hover {
  background: rgba(134, 171, 210, 0.1);
  transform: translate(-50%, -50%) scale(1.05);
  box-shadow: 0 15px 40px rgba(0, 255, 255, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  transition: all 0.3s ease-in-out;
}
/* Login Top Section */
.login_top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_top span {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: cyan;
}

/* Login Input Fields */
.login_input_frame {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login_input_container {
  margin-top: 20px;
  width: 100%;
}

.login_input_container label {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #f5f5f5;
}

.login_input_container input {
  margin-top: 15px;
  padding-left: 20px;
  width: 100%;
  height: 55px;
  background: #e8f0fe;
  border: 1px solid cyan;
  border-radius: 15px;
  outline: none;
}

/* Animated Button */
.login_btn {
  margin-top: 40px;
  width: 100%;
  height: 50px;
  background: #ff7300;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 24px;
  color: #f5f5f5;
  border: none;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 4px;
  transition: 0.3s ease-in-out;
}

.login_btn:hover {
  background: #47ff00;
  color: #ff7300;
  transform: scale(1.03);
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

/* Bottom Links */
.top {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.top a {
  color: #f5f5f5;
  text-decoration: none;
  transition: color 0.5s ease;
}

.top a:hover {
  color: cyan;
  text-decoration: underline;
}
