html,
body {
    width: 100%;
    height: 100%;
}

.login_container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        -45deg,
        #ff0000,
        #ff7300,
        #ffeb00,
        #47ff00,
        #00eaff,
        #0037ff,
        #ff00f7
    );
    background-size: 500% 500%;
    animation: glowAnim 25s linear infinite;
}
@keyframes glowAnim {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 0% 50%;
    }
    75% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.login_container .login_frame {
    height: 750px;
    position: relative;
    width: 630px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.2);
    border: 3px solid rgba(255, 255, 255, 0.3);
}

.login_frame .login_top {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 150px;
}
.login_top span {
    font-family: "poppins";
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 34px;
    color: #f5f5f5;
    justify-content: center;
    align-items: center;
}
.top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-top: 20px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}
.top a {
    color: #f5f5f5;
    text-decoration: none;
    transition: color 0.5s ease;
}

.top a:hover {
    color: magenta;
    text-decoration: underline;
}

/*Sig up */
.login_frame .sign_input_frame {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sign_input_frame .sign_up_frame {
    position: relative;
    margin-top: 20px;
    width: 45%;
    height: auto;

    display: flex;
    flex-direction: column;
}

.sign_up_frame label {
    font-family: "poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 18px;
}
.sign_up_frame label:focus {
    border: 2px solid #47ff00;
    outline: none;
    box-shadow: 0 0 10px #ffeb00;
    border-radius: 10px;
}

.sign_up_frame input {
    position: relative;
    margin-top: 20px;
    padding-left: 20px;
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.01);
    border: 2px solid cyan;
    border-radius: 15px;
}
.sign_up_frame input:focus {
    border: 2px solid #ff7300;
    outline: none;
    box-shadow: 0 0 10px #47ff00;
}

.media-frame {
    position: relative;
    margin-top: 15px;
    width: 100%;
    height: 250px;

    display: flex;
    flex: row;
    justify-content: space-between;
}

.media-frame .upload_img_frame {
    position: relative;
    width: 275px;
    height: 93%;
    display: flex;
    border-radius: 15px;
}

.media-frame .upload_container {
    position: relative;
    margin-left: 30px;
    width: 75%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.media_text {
    font-family: "GT Walsheim Pro";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #140342;
}

.filebox {
    margin-top: 25px;
    display: flex;
}

.filebox input[type="file"] {
    position: relative;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.filebox label {
    width: 137px;
    height: 55px;

    display: flex;
    justify-content: center;
    align-items: center;
    background: #6a7a99;
    border-radius: 0px 8px 8px 0px;

    font-family: "GT Walsheim Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #ffffff;
}
.filebox .upload-name {
    position: relative;
    padding: 20px;
    width: 85%;
    height: 55px;
    display: flex;
    background: #dddddd;
    border: 1px solid #dddddd;
    border-radius: 8px 0px 0px 8px;
}
.thumbnail_desc {
    margin-top: 15px;
    font-family: "GT Walshein Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #f5f5f5;
}

.login_frame .login_btn {
    position: relative;
    margin: 30px;
    margin-left: 0px;
    width: 100%;
    height: 70px;
    background: #ff7300;
    border-radius: 20px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 50px;
    letter-spacing: -0.02em;
    color: #f5f5f5;
}
.login_frame .login_btn:hover {
    background: #47ff00;
    color: #ff7300;
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
